.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #FBF2E8;
}

nav {
    text-align: right;
    margin-right: 20px;
    margin-top: -13px;
    margin-bottom: -11px;
}
a:link {
    color: #DC7C12;
    text-decoration: none;
}
a:visited {
    color: #923308;
}
a:hover {
    text-decoration: underline;
    color: #B76407;
}
main h2 {
    background-color: #F0B6BA;
    border-radius: 12px;
    height: 35px;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 0px;
}
.article7  {
    width: 180px;
    background-color: #F7D1BA;
    border-radius: 8px;
    padding-left: 7px;
    padding-top: 0px;
}
article h3 {
    width: 200px;
    padding-left: 24px;
    border-radius: 200px / 34px;
    background-color: #F7D1BA;
    height: auto;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-right: 0px;
}
.container3 {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    margin-top: 8px;
}
.container2 {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
}
.container4 {
    width: 630px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    margin-top: 35px;
	
}.container4:hover {
    transform: scale(1.05);
}
.container2:hover {
    transform: translateX(-20px);
}
.container3:hover {
    transform: rotate(2deg) scale(1.02);
}
.container1 header h1 {
    text-align: center;
    height: 200px;
    line-height: 200px;
    background-size: auto auto;
    background-position: 0% center;
    -webkit-box-shadow: 0px 3px 5px 0px #6C6667;
    box-shadow: 0px 3px 5px 0px #6C6667;
    background-image: url(%E7%83%98%E7%84%99%E7%85%A7%E7%89%87/%E7%83%98%E7%84%99%E5%99%A8%E5%85%B7.jpg);
}
